<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body >

<h1>The ToDoList item Creator</h1>

<form th:action="@{/NewItemCreated}" th:method="post" th:object="${toDoItem}">
<div>
<label>Title:</label>
<input th:field="*{title}" type="text" />
</div>
<div>
<label>Description:</label>
<input th:field="*{description}" type="text"/>
</div>
<div>
<label>Creator:</label>
<input th:field="*{creator}" type="text"/>
</div>
<div>
<label>Deadline</label>
<input th:field="*{deadline}" type="date"/>
</div>
<button>Submit</button>
</form>
</body>
</html>